﻿@page
@model MarunGun.Pages.RecordAdmin.CreateModel
@using MarunGun.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<RunUser> SignInManager 
@inject UserManager<RunUser> UserManager
@{
    ViewData["Title"] = "Create";
}
<div class="container-xl bg-warning">
<b><h2>สร้างบันทึกออกกำลังกาย🏋️‍♂️</h2></b>

<b><h4>บันทึก 📥</h4></b>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <b>สถานที่</b>
                <input asp-for="Record.Location" class="form-control" />
                <span asp-validation-for="Record.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
               <b> วันที่วิ่งล่าสุด</b>
                <input asp-for="Record.DateRun" class="form-control" />
                <span asp-validation-for="Record.DateRun" class="text-danger"></span>
            </div>
            <div class="form-group">
               <b> ช่วงเวลาที่วิ่ง</b>
                <input asp-for="Record.TimeRun" class="form-control" />
                <span asp-validation-for="Record.TimeRun" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>เวลาที่วิ่งได้</b>
                <input asp-for="Record.TimeRunning" class="form-control" />
                <span asp-validation-for="Record.TimeRunning" class="text-danger"></span>
            </div>
            <div class="form-group">
               <b>ระยะทาง(Km.)</b>
                <input asp-for="Record.Distance" class="form-control" />
                <span asp-validation-for="Record.Distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                โพสโดย: @UserManager.GetUserName(User)
                <input asp-for="Record.RunUserId" type="hidden" value="@UserManager.GetUserId(User)" />
            </div>

            <div class="form-group">
                <input type="submit" value="สร้างบันทึก" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
   <b> <a asp-page="Index">กลับไปก่อนหน้า</a></b.
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
