@page
@model MarunGun.Pages.RecordAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<div class="container-xl bg-warning">
<b><h2>ลบบันทึก ➖</h2></b>

<b><h3>คุณแน่ใจแล่วใช่ไหมว่าจะลบบันทึกนี้ ?🪓</h3></b>
<div>
   <b> <h4>บันทึก 📂</h4></b>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>สถานที่</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Record.Location)
        </dd>
        <dt>
           <b>วันที่วิ่ง</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Record.DateRun)
        </dd>
        <dt>
            <b>เวลาที่ไปวิ่ง</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Record.TimeRun)
        </dd>
        <dt>
            <b> เวลาที่วิ่งได้</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Record.TimeRunning)
        </dd>
        <dt>
              <b> ระยะทางที่วิ่งได้(Km.)</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Record.Distance)
        </dd>
        <dt>
           <b>โพสโดย</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Record.postUser.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Record.RecordID" />
        <b><input type="submit" value="ลบบันทึก" class="btn btn-default" /> </b>|
       <b><a asp-page="./Index">กลับไปก่อนหน้า</a></b>
    </form>
</div>
