@page
@model MarunGun.Pages.RecordAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<div class="container-xl bg-warning">
<b><h2>รายละเอียด</h2></b>

<div>
    <b><h4>รายละเอียดการบันทึก</h4></b>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           <b>สถานที่</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Record.Location)
        </dd>
        <dt>
           <b>วันที่วิ่ง</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Record.DateRun)
        </dd>
        <dt>
           <b>เวลาที่ไปวิ่ง</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Record.TimeRun)
        </dd>
        <dt>
          <b> เวลาที่วิ่งได้</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Record.TimeRunning)
        </dd>
        <dt>
          <b> ระยะทางที่วิ่งได้(Km.)</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Record.Distance)
        </dd>
        <dt>
           <b>โพสโดย</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Record.postUser.Id)
        </dd>
    </dl>
</div>
<div>
    <b><a asp-page="./Edit" asp-route-id="@Model.Record.RecordID">แก้ไข</a> </b>|
    <b><a asp-page="./Index">กลับไปก่อนหน้า</a></b>
</div>
