﻿@page
@model MarunGun.Pages.RecordAdmin.EditModel
@using Microsoft.AspNetCore.Identity
@using MarunGun.Models

@inject SignInManager<RunUser> SignInManager 
@inject UserManager<RunUser> UserManager
@{
    ViewData["Title"] = "Edit";
}
<div class="container-xl bg-warning">
<b><h2>แก้ไข้บันทึก ⚙</h2></b>

<b><h4>บันทึก📥</h4></b>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Record.RecordID" />
            <div class="form-group">
               <b>สถานที่วิ่ง</b>
                <input asp-for="Record.Location" class="form-control" />
                <span asp-validation-for="Record.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>วันที่วิ่ง</b>
                <input asp-for="Record.DateRun" class="form-control" />
                <span asp-validation-for="Record.DateRun" class="text-danger"></span>
            </div>
            <div class="form-group">
               <b> เวลาที่ไปวิ่ง</b>
                <input asp-for="Record.TimeRun" class="form-control" />
                <span asp-validation-for="Record.TimeRun" class="text-danger"></span>
            </div>
            <div class="form-group">
               <b> เวลาที่วิ่งได้(นาที)</b>
                <input asp-for="Record.TimeRunning" class="form-control" />
                <span asp-validation-for="Record.TimeRunning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>ระยะทางที่วิ่งได้ (Km.)</b>
                <input asp-for="Record.Distance" class="form-control" />
                <span asp-validation-for="Record.Distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                โพสโดย: @UserManager.GetUserName(User)
                <input asp-for="Record.RunUserId" type="hidden" value="@UserManager.GetUserId(User)" />

            </div>

            <div class="form-group">
               <b> <input type="submit" value="บันทึก" class="btn btn-primary" /></b>
            </div>
        </form>
    </div>
</div>

<div>
   <b><a asp-page="./Index">กลับไปก่อนหน้า</a></b>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
