@page
@model MarunGun.Pages.RecordAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<b><h2><font color ="#B81009">การวิ่งของฉัน🏆</font></h2></b>
<div class="container-xl bg-warning">
<p>
    <b><a asp-page="Create">สร้างบันทึกการวิ่ง ➕</a></b>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               <b> สถานที่วิ่ง</b>
            </th>
            <th>
              <b> วันที่วิ่งออกกำลังกาย</b>
            </th>
            <th>
               <b>เวลาที่ไปวิ่ง</b>
            </th>
            <th>
             <b> เวลาที่วิ่งได้</b>
            </th>
            <th>
               <b> ระยะทางที่วิ่งออกกำลังกาย(Km.)</b>
            </th>
            <th>
               <b>บันทึกโดย</b>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Record) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeRun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeRunning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postUser.Id)
            </td>
            <td>
                <b><a asp-page="./Edit" asp-route-id="@item.RecordID">Edit</a></b> |
                <b><a asp-page="./Details" asp-route-id="@item.RecordID">Details</a></b> |
                <b><a asp-page="./Delete" asp-route-id="@item.RecordID">Delete</a></b>
            </td>
        </tr>
}
    </tbody>
</table>
