﻿@page
@model MarunGun.Pages.MeetAdmin.CreateModel

@using Microsoft.AspNetCore.Identity
@using MarunGun.Models

@inject SignInManager<RunUser> SignInManager 
@inject UserManager<RunUser> UserManager
@{
    ViewData["Title"] = "Create";
}

<h2><b>สร้างโพส 📝</b></h2>

<h4>หาเพื่อนวิ่ง 🚴‍♀️</h4>
<hr />
 <div class="container-xl bg-warning">
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                โพสโดย: @UserManager.GetUserName(User)
                <input asp-for="MarunGunMeet.RunUserId" type="hidden" value="@UserManager.GetUserId(User)" />

            </div>
            <div class="form-group">
                <b>เขียนข้อความ</b>
                <textarea asp-for="MarunGunMeet.Meeting" class="formcontrol" rows=5 cols=50>
                 </textarea>
                <span asp-validation-for="MarunGunMeet.Meeting" class="text-danger"></span>
            </div>
            <div class="form-group">
               <b> วันที่เขียน</b>
                <input asp-for="MarunGunMeet.DateMeet" class="form-control" />
                <span asp-validation-for="MarunGunMeet.DateMeet" class="text-danger"></span>
            </div>
            <div class="form-group">
               <b> วันเวลาที่นัดเจอ</b>
                <input asp-for="MarunGunMeet.TimeMeet" class="form-control" />
                <span asp-validation-for="MarunGunMeet.TimeMeet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="โพส" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <h5><a asp-page="Index">กลับไปก่อนหน้า</a></h5>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
