@page
@model MarunGun.Pages.MeetAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<div class="container-xl bg-warning">
<h2>Delete ➖</h2>

<h3>คุณแน่ใจใช่ไหมที่จะลบการชวนนี้ ❓ </h3>
<div>
    <h4>มาวิ่งด้วยกัน..🏃‍♀️</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>โพสโดย</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MarunGunMeet.postMeet.Id)
        </dd>
        <dt>
            <b> ข้อความ</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MarunGunMeet.Meeting)
        </dd>
        <dt>
           <b> วันที่โพส</b>)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MarunGunMeet.DateMeet)
        </dd>
        <dt>
            <b> เวลาที่นัด</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MarunGunMeet.TimeMeet)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MarunGunMeet.MarunGunMeetID" />
        <input type="submit" value="ลบ" class="btn btn-default" /> |
        <b><a asp-page="./Index">กลับไปก่อนหน้า</a></b>
    </form>
</div>
