@page
@model MarunGun.Pages.MeetAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<div class="container-xl bg-warning">
<b><h2>รายละเอียด 📑</h2></b>

<div>
    <b><h4>มาวิ่งด้วยกัน..🏃‍♀️</h4></b>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>โพสโดย</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MarunGunMeet.postMeet.Id)
        </dd>
        <dt>
           <b> ข้อความ</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MarunGunMeet.Meeting)
        </dd>
        <dt>
          <b> วันที่โพส</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MarunGunMeet.DateMeet)
        </dd>
        <dt>
         <b> เวลาที่นัด</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MarunGunMeet.TimeMeet)
        </dd>
    </dl>
</div>
<div>
    <b><a asp-page="./Edit" asp-route-id="@Model.MarunGunMeet.MarunGunMeetID">แก้ไข</a></b> |
    <b><a asp-page="./Index">กลับไปก่อนหน้า</a></b>
</div>
