﻿@page
@model MarunGun.Pages.MeetAdmin.EditModel

@using Microsoft.AspNetCore.Identity
@using MarunGun.Models

@inject SignInManager<RunUser> SignInManager 
@inject UserManager<RunUser> UserManager
@{
    ViewData["Title"] = "Edit";
}
<div class="container-xl bg-warning">
<b><h2>แก้ไข 🧰</h2></b>

<b><h4>มาวิ่งด้วยกัน 🏃‍♀️</h4></b>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MarunGunMeet.MarunGunMeetID" />
            <div class="form-group">
                โพสโดย: @UserManager.GetUserName(User)
                <input asp-for="MarunGunMeet.RunUserId" type="hidden" value="@UserManager.GetUserId(User)" />

            </div>
            <div class="form-group">
                <b>ข้อความ</b>
                <textarea asp-for="MarunGunMeet.Meeting" class="formcontrol" rows=5 cols=50>
                 </textarea>
                <span asp-validation-for="MarunGunMeet.Meeting" class="text-danger"></span>
            </div>
            <div class="form-group">
               <b> วันที่เขียน</b>
                <input asp-for="MarunGunMeet.DateMeet" class="form-control" />
                <span asp-validation-for="MarunGunMeet.DateMeet" class="text-danger"></span>
            </div>
            <div class="form-group">
               <b>วันที่นัด</b>
                <input asp-for="MarunGunMeet.TimeMeet" class="form-control" />
                <span asp-validation-for="MarunGunMeet.TimeMeet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <b><a asp-page="./Index">กลับไปก่อนหน้า</a></b>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
