@page
@model MarunGun.Pages.MeetAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="container-xl bg-warning">
<b><h2>หน้ารายการโพส📜</h2></b>

<p>
    <b><a asp-page="Create">สร้างโพส ➕</b></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MarunGunMeet[0].postMeet)
            </th>
            <th>
                ข้อความ
            </th>
            <th>
               วันที่ที่โพส
            </th>
            <th>
              เวลาที่จะเจอ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MarunGunMeet) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.postMeet.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meeting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateMeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeMeet)
            </td>
            <td>
                <b><a asp-page="./Edit" asp-route-id="@item.MarunGunMeetID">แก้ไข</a></b> |
                <b><a asp-page="./Details" asp-route-id="@item.MarunGunMeetID">รายละเอียด</a></b> |
                <b><a asp-page="./Delete" asp-route-id="@item.MarunGunMeetID">ลบ</a></b>
            </td>
        </tr>
}
    </tbody>
</table>
