﻿@using Microsoft.AspNetCore.Identity
@using MarunGun.Models
@inject SignInManager<RunUser> SignInManager
@inject UserManager<RunUser> UserManager

@if (SignInManager.IsSignedIn(User))
{   
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">สวัสดี @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="/RecordAdmin"> บันทึกการออกกำลังกาย </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Detailrun"> การวิ่งของฉัน </a>
            </li>
            <li class="nav-item">
                <button type="submit" class="btn btn-link navbar-btn navbar-link">ออกจากระบบ</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Register">สมัครสมาชิก</a></li>
        <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Login">เข้าสู่ระบบ</a></li>
    </ul>
}
