﻿@page
@model AboutModel
@{
    ViewData["Title"] = "เกี่ยวกับ";
}
<div class="container-xl bg-warning">
<b><h2>@ViewData["Title"]</h2></b>
<b><h3>@Model.Message</h3></b.

<h4><b><p>เว็บไชต์นี้จะเกี่ยวกับการเก็บสถิติการวิ่งของคุณเพื่อให้คุณได้บรรลุเป้าหมายที่ตั้งใจไว้ได้ง่ายขึ้น  </p></b></h4>
<h4><b><p>และการวิ่งของคุณจะไม่น่าเหงาอีกต่อไป </p></b></h4>
<img class="d-block w-100" src="~/images/552.gif" >