﻿@page
@model ContactModel
@{
    ViewData["Title"] = "ติดต่อ";
}
<div class="container-xl bg-warning">
<b><h2>@ViewData["Title"]</h2></b>
<h3>@Model.Message</h3>

<address>
    <b>One Microsoft Way<br /></b>
    <b>Redmond, WA 98052-6399<br /></b>
    <b><abbr title="Phone">P:</abbr></b>
   <b> 425.555.0100</b>
</address>

<address>
    <b><strong>ฝ่ายสนับสนุน:</strong> <a href="mailto:Chayut.9361@gmail.com">Chayut.9361@gmail.com ⛑</a><br /></b>
    <b><strong>ฝ่ายการตลาด:</strong> <a href="mailto:yossapol_01@hotmail.com">yossapol_01@hotmail.com 📈</a></b>
</address>
<img class="d-block w-100" src="~/images/848.gif" >