﻿@page
@model MarunGun.Pages.DetailrunModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<RunUser> SignInManager
@inject UserManager<RunUser> UserManager
    @using MarunGun.Models
<div class="container-xl bg-warning">
    @{
    ViewData["Title"] = "รายละเอียดการวิ่ง";
    }
    <br />
    
    @foreach (var item in Model.Record) {
     if (item.postUser.UserName == @UserManager.GetUserName(User)){
    
    <div class="card text-white bg-success">
        <div class="card-body">
            
                <b><h4 class="card-text">@Html.DisplayFor(modelItem => item.Distance) km 🔥🔥</h4></b>
            <div class="row">
                <div class="col-md-3">
                    <p class="card-title">@Html.DisplayFor(modelItem => item.DateRun) เวลา @Html.DisplayFor(modelItem => item.TimeRun) </p>
                </div>
                <div class="col-md-3">
                   <b> <p class="card-text">สถานที่ : @Html.DisplayFor(modelItem => item.Location)</p></b>
                </div>
                <div class="col-md-3">
                    <b><p class="card-text"> เวลาที่วิ่ง @Html.DisplayFor(modelItem => item.TimeRunning) นาที</p></b>
                </div>
                <div class="col-md-3">
                    @{
                        var pace =0.0;
                        pace =item.TimeRunning/item.Distance;
                        <b><p>เพซเฉลี่ย @pace /km</p></b>
                    }
                </div>


            </div>
        </div>
    </div>

    <br />
    }
    }