@page
@model EventModel
@{
    ViewData["Title"] = "กิจกรรมงานวิ่งในปีนี้ 🥇";
}
<div class="container-xl bg-warning">
<b><h2>@ViewData["Title"]</h2></b>

           
        <div class="row">
            <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselIndicators" data-slide-to="3"></li>
                    
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/images/8855.jpeg" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/8787.jpg" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                            
                        </div>
                    </div>
                     <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/854.jpg" alt="Third  slide">
                        <div class="carousel-caption d-none d-md-block">
                            
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/5443.jpg" alt="Fourth slide">
                        <div class="carousel-caption d-none d-md-block">
                            
                        </div>
                    </div>
               
                </div>
                
                <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <br />
        <div class="alert alert-dark text-center" role="alert" style="width:100%">
               <h4><b> <font color ="#CC144E">เฝ้าติดตามกิจกรรมต่างๆผ่านหน้าเว็บไซต์ 🔥</font></b></h4>
                
            
            
            
            
            <img class="d-block w-100" src="~/images/856.gif" >
            </div>                