@page
@model GuideModel
@{
    ViewData["Title"] = "วิ่งการวิ่งที่ถูกต้อง และทำให้การวิ่งของคุณมีประสิทธิภาพมากที่สุด";
}
<div class="container-xl bg-warning">
<b><h2>@ViewData["Title"]</h2></b>
<div class="row">
            <div class="alert alert-primary text-center" role="alert" style="width:100%">
               <h4><b> <font color ="#F0251A">วิธีที่ทำให้การวิ่งของคุณดีขึ้น👏</font></b></h4>
            </div>
    <div class="row">
            <div class="alert alert-primary text-center" role="alert" style="width:500%">
               <h4><b> <font color ="#F07369">1.วิ่งอย่างมีสมาธิ</font></b></h4>
                <h5>การวิ่งที่ดีควรจะมีสมาธิที่ดีด้วย เพราะการมีสมาธิจะทำให้คุณสามารถปรับเปลี่ยนท่าทางการวิ่งได้อย่างเหมาะสมตลอดเวลา และป้องกันการเกิดอุบัติเหตุหรือการบาดเจ็บของกล้ามเนื้อได้เป็นอย่างดี</h5>
            <img class="d-block w-100" src="~/images/5565.jpg" >
            </div>
 <div class="alert alert-primary text-center" role="alert" style="width:500%">
               <h4><b> <font color ="#F07369">2.วิ่งให้สบายตัวที่สุด</font></b></h4>
                <h5>การวิ่งมีหลายท่าทาง วิ่งอย่างไรให้มีประสิทธิภาพนั้นต้องวิ่งด้วยท่าที่ทำให้รู้สึกสบายตัวมากที่สุด แล้วคุณจะสามารถวิ่งได้นานโดยไม่รู้สึกเหนื่อย และสามารถวิ่งได้ครบตามระยะทางที่ตั้งไว้อย่างแน่นอนไม่ควรรีบเร่งจนเกินไป ควรเน้นการวิ่งแบบสบายๆ แต่วิ่งได้ไกล </h5>
            <img class="d-block w-100" src="~/images/9966.jpg" >
            </div>
<div class="alert alert-primary text-center" role="alert" style="width:500%">
               <h4><b> <font color ="#F07369">3.หายใจอย่างถูกวิธี</font></b></h4>
                <h5>คนส่วนใหญ่วิ่งแล้วหายใจผิดวิธีทำให้เหนื่อยง่าย  โดยวิธีการหายใจที่นักวิ่งนิยมใช้ได้แก่ การหายใจด้วยกล้ามเนื้อกระบังลม คือการหายใจเข้า พุงป่อง และหายใจออก พุงยุบ จะทำให้คุณสามารถวิ่งได้นานโดยไม่เกิดอาการจุกเสียดชายโครงได้ง่าย </h5>
            <img class="d-block w-100" src="~/images/223.jpg" >
            </div>
<div class="alert alert-primary text-center" role="alert" style="width:500%">
               <h4><b> <font color ="#F07369">4. อย่าลืมยืดก่อนวิ่ง</font></b></h4>
                <h5>อีกหนึ่งสิ่งสำคัญในการวิ่ง จะมองข้ามไม่ได้เลยก็คือการยืดก่อนวิ่งนั่นเอง โดยให้ทำท่ายืดบริหารร่างกายก่อนประมาณ 15 นาที แล้วจึงเริ่มวิ่ง ซึ่งจะช่วยลดการบาดเจ็บระหว่างวิ่งได้ดีมาก  </h5>
            <img class="d-block w-100" src="~/images/663.jpg" >
            </div>
 <div class="alert alert-success text-center" role="alert" style="width:100%">
               <h4><b> <font color ="#F0251A">ท่าวิ่งที่ถูกต้อง👏</font></b></h4>
            <h5>สำหรับท่าทางการวิ่งก็สำคัญเช่นกัน เพราะหากวิ่งผิดท่าจะทำให้เสี่ยงต่อการบาดเจ็บได้ง่าย โดยท่าวิ่งที่ถูกต้องเป็นอย่างไรก็ต้องไปดูกันเลย </h5>
            </div>
   <div class="alert alert-success text-center" role="alert" style="width:500%">
               <h4><b> <font color ="#F07369">1. ลำตัวตั้งตรง เอนไปข้างหน้าเล็กน้อย</font></b></h4>
                <h5>ท่าวิ่งที่ถูกต้องจะต้องให้ลำตัวตั้งตรง หลังไม่โค้งงอจนเกินไป โดยขณะวิ่งให้เอนตัวไปข้างหน้าเล็กน้อยเพื่อทิ้งน้ำหนักตัวไปข้างหน้า ซึ่งจะทำให้วิ่งได้ดีและเหนื่อยน้อยลง </h5>
            <img class="d-block w-100" src="~/images/668.gif" >
        </div>
    <div class="alert alert-success text-center" role="alert" style="width:500%">
               <h4><b> <font color ="#F07369">2. กำมือหลวมๆ</font></b></h4>
                <h5>ขณะควรมีท่าวิ่งที่กำมือแบบหลวมๆ เพื่อไม่ให้เกิดการสะบัดข้อมือมากเกินไป โดยอาจจะเกร็งข้อมือเล็กน้อยด้วยก็ได้ ซึ่งการกำมือแบบนี้จะช่วยให้คุณควบคุมการทรงตัวขณะวิ่งได้ดีขึ้น จึงไม่เสียการทรงตัวได้ง่าย </h5>
            <img class="d-block w-100" src="~/images/778.jpg" >
            </div>
    <div class="alert alert-success text-center" role="alert" style="width:500%">
               <h4><b> <font color ="#F07369">3. วิ่งลงเท้าอย่างถูกต้อง</font></b></h4>
                <h5>การลงเท้าขณะวิ่งก็เป็นสิ่งสำคัญที่จะมองข้ามไม่ได้เลย เพราะเป็นหนึ่งในท่าวิ่งที่ส่งผลต่อการวิ่งโดยตรง หากลงเท้าผิดวิธีจะทำให้วิ่งได้ช้าลงและอาจวิ่งได้ระยะทางที่น้อยกว่าปกติ แถมยังทำให้เสี่ยงต่อการบาดเจ็บได้อีก ซึ่งการลงเท้าที่ถูกต้องก็คือการวิ่งลงส้นเท้าและปลายเท้า </h5>
            <img class="d-block w-100" src="~/images/563.jpg" >
            </div>        
     <div class="alert alert-success text-center" role="alert" style="width:500%">
               <h4><b> <font color ="#F07369">4. ศีรษะไม่ก้มหรือเงย</font></b></h4>
                <h5>สำหรับศีรษะควรตั้งตรง ไม่ก้มหรือเงย จะทำให้วิ่งได้เร็วและนานขึ้น ทั้งยังไม่เกิดอาการปวดบ่า ไหล่ หรือหลังตามมา</h5>
            <img class="d-block w-100" src="~/images/253.jpg" >
            </div>                