﻿@page
@using Microsoft.AspNetCore.Identity
@model MarunGun.Pages.IndexModel
@inject SignInManager<RunUser> SignInManager 
@inject UserManager<RunUser> UserManager
    @using MarunGun.Models

    @{
    ViewData["Title"] = "หน้าหลัก";
    }


     <div class="container-xl bg-warning">
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
   @{ double[] distance_month = new double[13];
       var Goal = 0.0;
       var Goal_day = 0.0;
       var Goal_month = 0.0;
       var zero=0;
       var tmp = 0.0;


       for (int i=1;i<=12;i++){
           foreach(var item in Model.Record){
               if (item.postUser.UserName == @UserManager.GetUserName(User)){
                   var Date = item.DateRun.ToString("MM");
                   int x = Int32.Parse(Date);
                   if (x==i){

                       distance_month[i]=item.Distance+distance_month[i];  /*เก็บข้อมูลแต่ละเดือน*/

                   }
               }

           }
       }
    }
  
    <div class="color"style ="$theme-colors">
        
        <div class="row">
            <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselIndicators" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/images/1.jpg" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>เริ่มวิ่งวันนี้</h3>
                            <p><b>เพื่อสุขภาพที่ดีในวันข้างหน้า</b></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/2.jpg" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>MarunGun</h3>
                            <p>มา-รัน-กัน</p>
                        </div>
                    </div>
                     <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/777.jpg" alt="Third  slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Good health by yourself</h3>
                            <p>สุขภาพดีด้วยตัวคุณเอง</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/888.jpg" alt="Fourth slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>มาวิ่งกันเถอะ</h3>
                            <p>มา-รัน-กัน</p>
                        </div>
                    </div>
                <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/3.jpg" alt="Fifth slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h2>วิ่งเพื่อตัวคุณเอง</h2>
                            <p><b>ถ้าไม่วิ่งวันนี้แล้วจะวิ่งวันไหน?</b></p>
                        </div>
                    </div>
                </div>
                
                <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="alert alert-info text-center" role="alert" style="width:100%">
                @UserManager.GetUserName(User)
            </div>
        </div>

        <div class="row">

            <div class="card" style="width:100%">
            
                <div class="card-header "><h3 class="card-text" style="font-weight:bold" ><font color ="#876500"><center>การวิ่งในแต่ละเดือน 🗓</center></h3></div>
                <div class="card-body ">
                    <canvas id="myChart"></canvas>

                </div>

            </div>
        </div>
        <br />
        <div class="row">
            <div class="alert alert-primary text-center" role="alert" style="width:100%">
               <h4><b> <font color ="#9407DE">รายละเอียดการวิ่ง 🗒</font></b></h4>
            </div>

        </div>
        <br />
        <div class="row">

            <div class="card-columns">

                <div class="card text-white bg-info ">
                    <div class="card-body " >
                        <h3 class="card-text" style="font-weight:bold">การวิ่งทั้งหมด 🔥</h3>
                        @{ var total = 0.0;

                        foreach (var item in Model.Record)
                        {
                            if (item.postUser.UserName == @UserManager.GetUserName(User))
                            {
                                total = item.Distance + total;
                                 Goal = item.postUser.Goal;

                            }

                        }   <p>เป้าหมายทั้งหมดของคุณ @Goal Km.</p>
                            <p>วิ่งได้ทั้งหมด @total Km.</p>
                            <canvas id="doughnut-chart_all"></canvas>
                        }
                    </div>
                </div>
                <div class="card text-white bg-dark ">
                    <div class="card-body">
                        <h3 class="card-text" style="font-weight:bold">เดือนนี้ 🔥</h3>
                        @{
                        var show_month = DateTime.Now.ToString("MM");
                        var total_m = 0.0;
                        foreach(var item in Model.Record){
                             if (item.postUser.UserName == @UserManager.GetUserName(User)){
                                Goal_month = item.postUser.Goalperday*15;
                                var Date = item.DateRun.ToString("MM");
                                if(Date==show_month){                     /*เช็คสตริงของตำแหน่งที่มีต่าแทนที่ด้วยเดือน*/
                                    total_m = item.Distance+total_m;
                            
                                }
                            }
                         }
                            <p>เป้าหมายใน 1 เดือนของคุณ @Goal_month Km.</p>
                            <p>วิ่งได้ทั้งหมด @total_m Km.</p>
                            <canvas id="doughnut-chart_month"></canvas>
                        }
                    </div>
                </div>
                <div class="card text-white bg-danger">
                    <div class="card-body">
                        <h3 class="card-text" style="font-weight:bold">วันนี้ 🔥</h3>
                        @{
                            DateTime check = DateTime.Today;


                            var total_d=0.0;                                   
                         
                            int res;
                            foreach (var item in Model.Record){
                                if (item.postUser.UserName == @UserManager.GetUserName(User)){

                                    Goal_day = item.postUser.Goalperday;

                                    res = String.Compare(check.ToString("MM/dd/yyyy"), item.DateRun.ToString("MM/dd/yyyy"));
                                    if (res==0){
                                        total_d=item.Distance+total_d;

                                    }
                                }

                            }

                            <p>เป้าหมายใน 1 วันของคุณ @Goal_day Km.</p>
                            <p> วันนี้วิ่งได้ทั้งหมด @total_d Km.</p>
                            <canvas id="doughnut-chart"></canvas>
                        }
                    </div>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="alert alert-success text-center" role="alert" style="width:100%">
               <h4><b><font color ="#912735">มาวิ่งด้วยกัน 🏃‍♂..</font></b></h4>
            </div>
        </div>
          <a type="button" class="btn btn-primary" value ="เพิ่มการนัด" href="/MeetAdmin/Create">โพสต์หาคนวิ่งเป็นเพื่อน</a>
        <hr />
        <div class="row">
            @{ var index =1;
                foreach(var item in Model.Meet){
                    if (item.TimeMeet > DateTime.Now)
                    {
                        <div class="card">
                            <div class="card-body">

                                <h5 class="card-title" style="font-weight:bold">มา-รัน-กัน #@index</h5>

                                <p class="card-text">วันที่โพส @item.DateMeet</p>


                                <p class="card-text">เวลาที่นัดเจอกัน @item.TimeMeet </p>


                                <p class="card-text">ข้อความ @item.Meeting</p>
                                <p class="card-text">ผู้โพสต์ @item.postMeet.FirstName</p>
                            </div>
                            @{index = index + 1;}
                        </div>
                    }
            <br />
            
                }
            }
        </div>
    </div>
    </div>






























    <script>
        new Chart(document.getElementById("doughnut-chart"), {
            type: 'doughnut',
            data: {
                labels: ["วิ่งที่ได้ (km)","เหลืออีก(km)"],
                datasets: [
                    {
                        label: "การวิ่ง",
                        wight: 6,
                        backgroundColor: ["#CED100", "#4DC988"],
                        data: [@total_d,@{
                                            if(total_d>=Goal_day){
                                                @zero    
                            }
                            else{
                                tmp = Goal_day - total_d;
                                @tmp

                         }
                                        
                                        }]

                    }
                ]
            },
            options: {
                title: {
                    display: true,

                    text: 'เป้าหมายการวิ่งทั้งหมดในหนึ่งวัน'
                }
            }
        });
        new Chart(document.getElementById("doughnut-chart_all"), {
            type: 'doughnut',
            data: {
                labels: ["วิ่งที่ได้ (km)","เหลืออีก(km)"],
                datasets: [
                    {
                        label: "การวิ่ง",
                        wight: 6,
                        backgroundColor: ["#4F4DFF", "#F72B1B"],
                        data: [@total,@{
                                            if(total>=Goal){
                                                @zero    
                                            }
                                            else{
                                                tmp=Goal-total;
                                                @tmp
                                            }
                                        
                                        }]
                    }
                ]
            },
            options: {
                title: {
                    display: true,

                    text: 'เป้าหมายการวิ่งทั้งหมด'
                }
            }
        });
        new Chart(document.getElementById("doughnut-chart_month"), {
            type: 'doughnut',
            data: {
                labels: ["วิ่งที่ได้ (km)","เหลืออีก(km)"],
                datasets: [
                    {
                        label: "การวิ่ง",
                        wight: 6,
                        backgroundColor: ["#4F4DFF", "#F72B1B"],
                        data: [@total_m,@{
                                            if(total_m>=Goal_month){
                                                @zero    
                                            }
                                            else{
                                                tmp=Goal_month-total_m;
                                                @tmp
                                            }
                                        
                                        }]
                    }
                ]
            },
            options: {
                title: {
                    display: true,

                    text: 'เป้าหมายการวิ่งทั้งหมดในหนึ่งเดือน'
                }
            }
        });
    </script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                datasets: [{
                    label: 'Distance (km)',
                    wight: 6,
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [@distance_month[1],@distance_month[2],@distance_month[3],@distance_month[4],@distance_month[5],@distance_month[6],@distance_month[7],@distance_month[8],@distance_month[9],@distance_month[10],@distance_month[11],@distance_month[12]]
                }]
            },

            // Configuration options go here
            options: {}
        });
    </script>
