@page
@model IndexModel
@{
    ViewData["Title"] = "ประวัติส่วนตัว 📄";
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="container-xl bg-warning">
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <b>ชื่อ</b>
                <input asp-for="Input.FirstName" class="form-control" />
            </div>
            <div class="form-group">
               <b> นามสกุล </b>
                <input asp-for="Input.LastName" class="form-control" />
            </div>
            <div class="form-group">
                <b>ระยะทางที่ต้องการทั้งหมด</b>
                <input asp-for="Input.Goal" class="form-control" />
            </div>
            <div class="form-group">
              <b> ระยะทางที่คิดว่าจะทำได้/ต่อวัน</b>
                <input asp-for="Input.Goalperday" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                <div class="input-group">
                    <input asp-for="Input.Email" class="form-control" />
                    <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                </div>
                }
                else
                {
                <input asp-for="Input.Email" class="form-control" />
                <b><button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail ✉" class="btn btn-link">Send verification email</button></b>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>หมายเลขโทรศัพท์</b>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">บันทึก</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
