@page
@model LoginModel

@{
    ViewData["Title"] = "เข้าสู่ระบบ 🔐";
}
<div class="container-xl bg-warning">
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post">
               <b> <h4>ต้องใช้บัญชีที่มีอยู่ในการเข้าสู่ระบบ.❗</h4></b> 
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                   <b>  อีเมล์</b> 
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                   <b>  รหัสผ่าน</b> 
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                   <b> <button type="submit" class="btn btn-default"><b> เข้าสู่ระบบ</b> </button></b> 
                </div>
                <div class="form-group">
                    <p>
                       <b>  <a asp-page="./ForgotPassword">ลืมรหัสผ่าน?</a></b> 
                    </p>
                    <p>
                       <b>  <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">ลงทะเบียนผู้ใช้ใหม่</a></b> 
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <b> <h4>เข้าสู่ระบบเพื่อใช้บริการ.🛡</h4></b> 
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
