@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<div class="container-xl bg-warning">
<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>