@page
@model RegisterModel
@{
    ViewData["Title"] = "สร้างบัญชี 🛡";
}
<div class="container-xl bg-warning">
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <b><h4>สร้างบัญชีใหม่ 🔧</h4></b>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
              <b> ชื่อ</b> 
                <input asp-for="Input.FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <b>นามสกุล</b>
                <input asp-for="Input.LastName" class="form-control" />
            </div>
            <div class="form-group">
                <b>เป้าหมายระยะทางที่อยากได้(Km.)</b>
                <input asp-for="Input.Goal" class="form-control" />
            </div>
            <div class="form-group">
               <b> เป้าหมายที่ระยะทางที่ต้องการ(Km.)/ต่อวัน</b>
                <input asp-for="Input.Goalperday" class="form-control" />
            </div>
            <div class="form-group">
                <b>อีเมล์</b>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
               <b>รหัสผ่าน</b>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>ยืนยันรหัสผ่าน</b>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary"><b>สร้างบัญชี</b></button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
